.input {
  padding: 10px;
  height: 20px;
  width: 500px;
  border: 1px solid purple;
  border-radius: 4px;
  margin: 10px;
  font-size: 18px;
  text-transform: capitalize;
}

.userContainer {
  position: absolute;
  border-width: 0px 1px;
  border-style: solid;
  border-color: goldenrod;
  background-color: whitesmoke;
  left: 10px;
  top: 52px;
  width: 520px;
}

.link {
  text-decoration: none;
}

.option {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  padding: 5px;
}

.option,
li,
a {
  font-size: 28px;
  text-transform: capitalize;
  text-decoration: none;
  margin: 10px 0;
  color: black;
}

.option:hover {
  background-color: pink;
  color: grey;
}

.mainWrapper {
  width: 522px;
  position: relative;
  margin: 0 auto;
}

.image {
  width: 50px;
  border-radius: 50%;
}
.userName {
}
