.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 150px;
}

.option,
li,
a {
  margin: 0 var(--size-20);
  margin: var(--size-12) 0;

  color: black;

  font-size: var(--size-20);
  text-decoration: none;
  text-transform: capitalize;
}

.option:hover {
  background-color: var(--color-light-grey);
  color: var(--color-blue);
}
