body {
  margin: 0;

  background: var(--color-background);

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.titleContainer {
  width: 100%;
  height: 200px;
  padding-top: var(--size-100);
  margin: 0 auto;

  background: var(--color-background);

  font-size: var(--size-24);
  line-height: var(--size-32);
}

.autoContainer {
  width: 300px;
}
